@import url("../styles/variables.scss");

.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
}

.home_page_banner {
    width: 65%;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 2rem;
    background-image: url("../../public/imgs/home_page_banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.banner_content {
    color: var(--banner-text-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.banner_content h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
}

.banner_content p {
    margin-top: 0;
}

.services_cards {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services_cards>h2 {
    font-size: 1.5rem;
    font-weight: 800;

}

.cards {
    width: 90%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 1rem;
}

.feature_cards {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature_cards .cards{
    grid-template-rows: 1fr;
}

.feature_cards>h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.get_started{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get_started h2{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0;
}

.get_started button{
    width: 125px;
    height: 50px;
    border-radius: 15px;
    font-size: 1rem;
}