.favorites_page {
    padding: 5rem 15rem 10rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.favorites{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 3rem;

    button {
        width: 35%;
    }
}