// styles/variables.scss

:root {
    --font-family: 'Inter', sans-serif;
}

$button-color-primary: #1A80E5;
$button-color-primary-hover: #145ea8;

$border-background-color: #334D66;

/* Tema claro */
html.light {
    /* Background */
    --background-color: #ffffff;

    /* Text */
    --text-color: #0D141C;
    --banner-text-color: #ffffff;

    /* Card */
    --card-description-color: #94ADC7;
    --feature-card-color: #F7FAFC;
    --feature-card-color-hover: #1A2633;
    --feature-card-border: #0071FF;

    /* Buttons */
    --button-color-secondary: #E8EDF2;

    /* Hover */
    --button-color-secondary-hover: #adb1b4;
    --button-color-secondary-dark-hover: #39556e;

    /* Form */
    --form-background-color: #F7FAFC;
    --form-border-color: #0071FF;
    --form-profile-button-border: #0071FF;

    --border-bottom: #E5E8EB;
    --box-shadow: #00000027;
}

/* Tema escuro */
html.dark {
    /* Background */
    --background-color: #121A21;

    /* Text */
    --text-color: #ffffff;
    --banner-text-color: #ffffff;

    /* Card */
    --card-description-color: #94ADC7;
    --feature-card-color: #1A2633;
    --feature-card-color-hover: #F7FAFC;
    --feature-card-border: #334D66;

    /* Buttons */
    --button-color-secondary: #243647;

    /* Hover */
    --button-color-secondary-hover: #39556e;
    --button-color-secondary-dark-hover: #2e4a5c;

    /* Form */
    --form-background-color: #1A2633;
    --form-border-color: #334D66;
    --form-profile-button-border: #39556e;

    
    --border-bottom: #334D66;
}