.chat {
    background-color: var(--button-color-secondary);
    border-radius: 10px;

    p {
        width: 80%;
        white-space: nowrap; // Impede que o texto quebre para a próxima linha
        overflow: hidden; // Esconde o texto que ultrapassar o tamanho
        text-overflow: ellipsis; // Adiciona "..." no final
    }

    span {
        color: var(--card-description-color);
    }

    a, a:active, a:visited {
        color: var(--text-color);
        text-decoration: none;
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}