.chat {
    background-color: var(--button-color-secondary);
    border-radius: 10px;
    width: 100%;

    p {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a,
    a:active,
    a:visited {
        color: var(--text-color);
        text-decoration: none;
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    time {
        color: var(--card-description-color);
    }
}