.sidebar {
    height: 100vh;
    position: fixed;
    background-color: var(--background-color);
    color: var(--text-color);
    border-right: 1px solid var(--border-bottom);
    transition: .2s ease-in-out;
    z-index: 999;
}

.menu {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ul {
        padding: .5rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        transition: .2s;
        padding: 0 .5rem;
    }

    li:hover {
        background-color: var(--button-color-secondary);
        border-radius: 10px;
        padding: .5rem;
        cursor: pointer;
    }
}

.logout {
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--text-alert);
    font-weight: 600;
    font-size: .9rem;

}