.filter {
    background-color: var(--background-color);
    width: 15%;
    border: 2px solid var(--feature-card-border);
    border-radius: 10px;
    padding: 1rem;
    position: fixed;
    top: 25%;
    left: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    button {
        align-self: flex-end;
    }
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    input {
        width: 90%;
        align-self: center;
    }

    div {
        width: 100%;
        margin-top: .3rem;
        display: flex;
        gap: 1rem;
    }
}