.login_page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: .5rem;
    border-bottom: 1px solid var(--border-bottom);
    font-size: .9rem;

    img {
        margin-left: 1rem;
    }
}


.login_form {
    background-color: var(--form-background-color);
    width: 25%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--form-border-color);
    border-radius: 20px;

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;

        p {
            font-weight: 500;
            font-size: .8rem;

            span {
                text-decoration: underline;
            }
        }

        button {
            width: 90%;
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
}