.favorite_service {
    width: 100%;
    transition: .2s ease-in-out;

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }

}

.favorite_service:hover{
    transform: translateY(-10px);
    cursor: pointer;
}