.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: var(--background-color);
    padding: 2rem;
    width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.imageUpload {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .preview {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 0.5rem;
        }
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    button {
        width: 25%;
    }
}