.serviceBanner {
    width: 100%;
    height: 200px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid var(--border-bottom);
    border-radius: 10px;

    h4,
    h5,
    h6 {
        margin: 0;
    }

    p {
        width: 75%;
    }

    span {
        color: var(--card-description-color);
    }

    img {
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 7;
        object-fit: contain;
    }
}

.serviceBanner>div {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
        width: 75%;
        height: 100%;
        cursor: pointer;
    }
}

.description {
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: -1rem;
}

.heart {
    width: 75%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.heart.pop {
    animation: pop 0.3s ease;
}


@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}