.serviceBanner {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid var(--border-bottom);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    header {
        grid-column: 1 / 3;
        grid-row: 1;
        max-height: 10px;
    }

    .description {
        grid-column: 1 / 4;
        grid-row: 2;

        span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            overflow-wrap: break-word;
        }
    }

    .details {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    .actions {
        grid-column: 2 / 4;
        grid-row: 3;
        align-self: flex-end;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        button {
            width: 100%;
        }
    }

    .imageWrapper {
        grid-column: 4 / 6;
        grid-row: 1 / 4;
        width: 100%;
        max-width: 500px;
        height: auto;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 10px;
        }
    }

}