@import url("../../styles/variables.scss");

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--border-bottom);
}

.title{
    display: flex;
    align-items: center;
    font-size: .5rem;
    gap: .5rem;
}

.buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}