@import "../../styles/variables.scss";

.button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: 2px solid var(--border-background-color);
}

.button img {
    width: 50%;
    height: 50%;
}

.primary {
    background-color: var(--button-color-secondary-dark); // usado no tema CLARO
}

.secundary {
    background-color: var(--button-color-secondary); // usado no tema ESCURO
}