@import "../../styles/variables.scss";

.button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: 2px solid $border-background-color;
}

.button img {
    width: 50%;
    height: 50%;
}