.dashboardPage {
    padding: 5rem 15rem 10rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;

    h2 {
        margin-bottom: -5rem;
    }
}

.history,
.personalNotes {
    width: 100%;
}

.serviceHistory {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    button{
      width: 25%;
    }
}


.personalNotes {
    width: 100%;
  
    button {
      width: 125px;
      margin-bottom: 1rem;
    }
  }
  
  .notes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: calc(3 * 150px + 2rem); 
    overflow-y: auto;
    padding-right: 0.5rem; 
  }
  
  .notes::-webkit-scrollbar {
    width: 4px;
  }
  
  .notes::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color, #ccc);
    border-radius: 4px;
  }
  